/* Portfolio.module.scss */

.websiteListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 768px) {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.websiteRow {
  display: flex;
  justify-content: center;
  gap: 32px;
  width: 100vw;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }

  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (max-width: 768px) {
    justify-content: flex-start;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    gap: 16px;
  }
}

.secondRow {
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.websiteContainer {
  display: flex;
  width: 400px;
  height: 200px;
  flex-shrink: 0;
  padding: 8px;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  transition: 0.5s all;

  &:hover {
    scale: 1.05;
  }

  @media screen and (max-width: 768px) {
    width: calc(100% - 100px);
    border-radius: 16px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 25px;

    @media screen and (max-width: 768px) {
      border-radius: 16px;
    }
  }
}
