// colors
$body-bg-color: #0a0a0c;
$default-font-color: #ffffff;
$accentColor: #26e989;
$glassBgColor: #1f1f1f;
$glassBorderColor: #545454;

// fonts
$font-size-xlarge: 4rem;
$font-size-large: 3.5rem;
$font-size-medium: 2rem;
$font-size-small: 1rem;
$font-size-xsmall: 1rem;

//widths
$max-width: 1500px;
