@import "@/styles/variables";

.imageWrapper {
  height: 500px;
  width: 500px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20%;
    border: 7px solid var(--borderColor);
    transition: 3s;
  }
}
