.socialShareSection {
  margin-top: 48px;
}

.iconList {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.socialIcon {
  height: 40px;
  width: 40px;
  color: var(--text-primary);
  scale: 1;
  transition: all 0.3s ease;

  &:hover {
    scale: 1.2;
    color: var(--accent-color);
  }

  svg {
    height: 100%;
    width: 100%;
  }
}

.title {
  color: var(--text-secondary);
}
