@import "@/styles/variables";

.heroBanner {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .textWrapper {
    max-width: 55%;
    padding: 0 16px;
    .textPill {
      margin-bottom: 15px;
    }
    .headingWrapper {
      margin-bottom: 20px;
      position: relative;
      .pillIcon {
        position: absolute;
        left: -61px;
        bottom: -37px;
        rotate: 193deg;
      }
    }
    .description {
      margin-bottom: 50px;
    }
  }

  .imageWrapper {
    padding: 0 16px;
  }

  
}
