@import "@/styles/variables";

.heroBanner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  .textWrapper {
    max-width: 55%;
    padding: 0 16px;
    @media screen and (max-width: 768px) {
      max-width: 100%;
      padding: 0;
    }
    .textPill {
      margin-bottom: 15px;
    }
    .headingWrapper {
      margin-bottom: 20px;
      position: relative;
      .pillIcon {
        position: absolute;
        left: -61px;
        bottom: -37px;
        rotate: 193deg;
      }
    }
    .description {
      margin-bottom: 50px;
      @media screen and (max-width: 768px) {
        margin-bottom: 16px;
        line-height: 22px;
      }
    }
  }

  .imageWrapper {
    padding: 0 16px;
  }
}
